// Colors
$dark: #000000;
$light: #ffffff;
$yellow: #f0fc61;
$blue: #219ab3;
$gray-pallet: (
  light: #747474,
  mid: #a1a1a1,
  tint: #747474,
  dark: #373737,
);

$primary: map_get($gray-pallet, dark);

// grid variables
$grid-columns: 12;
$grid-gutter-size: 15px;

// Breakpoints
$mq-breakpoints: (
  small: 576px,
  medium: 768px,
  large: 992px,
  xlarge: 1200px,
);

// header
$header-height: 60px;
