@import "~normalize.css/normalize.css";
@import "variables";
@import "base/typography";
@import "base/grid";
@import "base/globals";
@import "base/accessibility";
@import "base/grid-bg";

// layout
@import "layouts/default";

//components
@import "components/nav";
@import "components/footer";
@import "components/article_preview";
@import "components/code_highlighter";
@import "components/image_zoom";
@import "components/project-tile";
@import "components/paginator";

//pages
@import "pages/landing_page";
@import "pages/projects_page";
@import "pages/posts_page";
@import "pages/about";
@import "pages/project_post_page";
