<div class="modal js-modal" id="search-modal" data-animation="on">
    <div class="modal__content max-width-xs" role="alertdialog" tabindex="-1" aria-labelledby="modalTitle1" aria-describedby="modalDescription1">
        <div class="search-wrapper">
            <form class="search-form js-search-form">
                <label class="sr-only" for="searchInput">search input</label>
                <input class="reset search__input js-search__input" type="search" name="searchInput" id="searchInput" placeholder="Search..." autocomplete="off" />
            </form>
            <div class="search__results js-search-result"></div>
        </div>
    </div>
    <button class="reset modal__close-btn js-modal__close js-tab-focus">{% include vectors/close-icon.svg %}</button>
</div>
