
        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>{{site.blogDescription}}</p>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ul class="list-unstyled">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ul>
          </div>
          <div class="sidebar-module">
            <h4>Be Social</h4>
            <ol class="list-unstyled">
              <li><a href="http://github.com/{{site.github}}"><i class="fa fa-github fa-2x"></i></a></li>
              <li><a href="http://twitter.com/{{site.twitterHandle}}"><i class="fa fa-twitter fa-2x"></i></a></li>
              <li><a href="http://plus.google.com/+{{site.googleplus}}"><i class="fa fa-google-plus fa-2x"></i></a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->
