{% assign blog_posts = include.blog_posts %}

<h1>{{page.title}}</h1>

<ul>
    {% for post in blog_posts.items %}
        <li class="fa fa-edit fa-2x">
            <a class="blog-post-title" href="{{ post.url | prepend: site.baseurl }}">
                <h2>{{ post.title }}</h2>
            </a>
            <span class="blog-post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <p>{{ post.excerpt }}</p>
        </li>
    {% endfor %}
</ul>

{% if blog_posts.size > 5 %}
    <ul class="pager">
        <li><a href="#">Previous</a></li>
        <li><a href="#">Next</a></li>
    </ul>
{% endif %}