<!-- Footer -->
<footer class="ns-footer {% if include.short %} ns-footer--short{% endif %}">
    <div style="padding: 50px 0">
        <div class="container text-center">
            <div class="row">
                <div class="column-sm-12 column-md-6">
                    <h4 class="page-heading page-heading--with-action">
                        <span class="display-heading display-heading--decorated">Connect;</span>
                    </h4>
                    <ul class="footer-socials">
                        {% for item in site.data.setup.socials %}
                        <li class="social-icon--link {{ icon.class }}">
                            <a class="" href="{{ item.url }}" target="_blank" rel="noopener">
                                <span class="social-icon--title">{{ item.title }}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="blog-footer">
            <div class="container">
                <div class="row">
                    <div class="column-sm-12 column-lg-6">
                        <div class="dev-details">
                            <p class="endnote_ts">Build version: <span class="caption_ts">{{site.data.version.hash}}</span></p>
                            <p class="endnote_ts">Content &copy {{ 'now' | date: "%Y" }}, {{site.data.setup.title}}.</p>
                        </div>
                    </div>
                    <div class="column-sm-12 column-lg-6">
                        <div class="page-scroll">
                            <a class="page-scroll--link" href="#page-top">Back to top</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
