<!-- Footer -->
<footer class="ns-footer {% if include.short %} ns-footer--short{% endif %}">
    <div class="container text-center">
        <div class="row">
            <div class="column-sm-12">
                <h5>say hi elsewhere!</h5>
                <ul class="footer-socials">
                    {% for item in site.data.setup.socials %}
                    <li>
                        <a class="social-icon--link {{ icon.class }}" href="{{ item.url }}" target="_blank" rel="noopener">
                            <span class="social-icon--title">{{ item.title }}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="column-sm-6"></div>
        </div>
    </div>
    <div class="blog-footer">
        <div class="container">
            <div class="row">
                <div class="column-sm-6">
                    <div class="endnote_ts">
                        <span class="">Content &copy {{site.data.setup.title}}, {{ 'now' | date: "%Y" }}.</span>
                        <span class="">Build version: <em class="caption_ts">{{site.data.version.hash}}</em></span>
                    </div>
                </div>
                <div class="column-sm-6">
                    <p>
                        <a class="page-scroll" href="#page-top">Back to top</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
