<div class="ns-landing-screen">
    <div class="preloader">
        <div class="content-wrapper">
            <h1 class="white-text">Loading....</h1>
        </div>
        {% include vectors/preloader-mask.svg %}
    </div>
    <div class="container">
        <div class="row main-content">
            <div class="column-md-6 main-content__side-photo">
                <div class="main-content__side-photo--inner">
                    {% include vectors/horse-rider.svg %}
                </div>
            </div>
            <div class="column-md-6">
                <h1 class="main-content__title">{{site.title}}</h1>
                <p>{{site.description}}️</p>
                <p> - {{ 'now' | date: "%Y" }}</p>
            </div>
        </div>
    </div>
</div>
