{% include nav.html hide="true" %}
<div class="ns-landing-screen">
    <div class="jumbotron">
        <div class="container">
            <div class="row jumbotron__inner">
                <div class="column column-md-6 jumbotron__side-photo">
                    <div class="jumbotron__side-photo--inner" id="illustration">
                        {% include vectors/horse-rider.svg %}
                    </div>
                </div>
                <div class="column column-md-6" id="info-cta">
                    <h1 class="jumbotron__title">{{site.data.setup.title}}</h1>
                    <h5 class="jumbotron__tagline">{{site.data.setup.tagline}}</h5>
                    <h5 class="jumbotron__socials">
                        <span>connect with me:</span>
                        {% for item in site.data.setup.socials %}
                        {% if item.featured%}
                        <a class="social-icon--link {{ icon.class }}" href="{{ item.url }}" target="_blank" rel="noopener">
                            <span class="social-icon--title">{{ item.title }}</span>
                        </a>
                        {% endif %}
                        {% endfor %}
                    </h5>
                </div>
            </div>
        </div>
        {% include grid-bg-component.html md-rows=6 lg-rows=12 fluid=true %}
    </div>
    <div class="main-content">
        <div class="main-content__inner">
            <div class="container">
                <div class="row" style="height: 100%">
                    {% assign categories = site.posts | group_by: 'category' %}
                    {% for category in categories %}
                    {% if category.name == "projects" %}
                    <section class="column-sm-12 selected-categories selected-category--{{category.name}}">
                        {% assign projects = category.items | sort_natural: "commission_year" | reverse %}
                        <h2 class="page-heading page-heading--with-action">
                            <span class="display-heading">Projects</span>
                            <a class="page-heading--with-action__action-item view-more-link" href="/{{category.name}}">see more</a>
                        </h2>
                        <div class="container">
                            <ul class="no-style-list row">
                                {% for project in projects limit:3 %}
                                <li class="column-sm-12 column-md-4 selected-category--{{category.name}}__item">
                                    {% include project-tile-component.html project=project fixed-width=true %}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </section>
                    {% endif %}
                    {% if category.name == "blog" %}
                    <section class="column-sm-12 selected-categories selected-categories--{{category.name}}">
                        {% assign posts = category.items %}
                        <h2 class="page-heading page-heading--with-action">
                            <span class="display-heading">Writings</span>
                            <a class="page-heading--with-action__action-item view-more-link" href="/{{category.name}}">see more</a>
                        </h2>
                        <ul class="no-style-list">
                            {% for post in posts limit:3 %}
                            <li>
                                <a href="{{ post.url}}">
                                    <h5 class="article-preview__headline">
                                        <div class="caption_ts">
                                            <time datetime="{{ post.date | date: '%Y-%-d-%m' }}">{{ post.date | date: "%b %-d, %Y" }}</time>
                                        </div>
                                        <span>{{ post.title }}</span>
                                    </h5>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </section>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {%include footer.html%}
    </div>
</div>

{% include vectors/distort-filter-definition.svg %}
