<!-- Navigation -->
<header class="ns-header">
    <div class="header container">
        {% unless page.layout == "home" %}
        <div class="header__left">
            <a href="/" class="header__brand-image-wrapper">
              <span class="header__brand-image">{{site.title}}</span>
            </a>
        </div>
        {% endunless %}
        <div class="header__right">
            <ul class="menu-list">
                {% for link in site.data.setup.headerLinks %}
                    <li class="menu-list-items {% if page.url contains link.path %}active{% endif %}">
                        <a href={{link.path}}>{{link.title}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</header>
