<!-- Navigation -->
<header class="ns-header" id="header">
    <div class="header container">
        {% unless page.layout == "home" %}
        <div class="header__left">
            <a href="/" class="header__brand-image-wrapper">
              <span class="header__brand-image">
                  {% include vectors/horse-rider.svg %}
              </span>
            </a>
        </div>
        {% endunless %}
        <div class="header__right">
            <ul class="menu-list">
                {% for link in site.data.setup.headerLinks %}
                    <li class="menu-list-item {% if page.url contains link.path %}active{% endif %}">
                        <a class="" href={{link.path}}>{{link.title}}</a>
                    </li>
                {% endfor %}
                <li class="menu-list-item">
                    {% include search.html %}
                </li>
            </ul>
        </div>
    </div>
</header>
