<!-- Navigation -->
<header class="ns-header {% if include.hide == 'true' %}ns-header--hidden{% endif %}" id="header">
    <div class="header container">
        <div class="header__left">
            <a href="/" class="header__brand-wrapper">
              <span class="header__brand-text">{{site.data.setup.brandText}}</span>
            </a>
        </div>
        <div class="header__right">
            <ul class="menu-list">
                {% for link in site.data.setup.headerLinks %}
                    <li class="menu-list-item {% if page.url contains link.path %}active{% endif %}">
                        <a class="" href={{link.path}}>{{link.title}}</a>
                    </li>
                {% endfor %}
                <li class="menu-list-item">
                    <button class="search__btn" aria-controls="search-modal" aria-labelledby="searchbtn">
                        {% include vectors/search-icon.svg stroke="#ffffff" %}
                    </button>
                </li>
            </ul>
        </div>
    </div>
</header>
