<style>
    .preloader {
        z-index: 15;
        position: fixed;
        width: 100%;
    }

    .preloader .content-wrapper {
        width: 100%;
        height: calc(100vh);
        position: relative;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #000;
    }

    /**
    * styling for loading animation icon
    **/
    .knot__svg {
        transform: rotate(45deg);
        transform-origin: center;
    }

    .knot__svg .knot-progress {
        fill: none;
        stroke: #fff;
    }

    .knot__svg .knot-progress--path {}
    .knot__svg .knot-progress--fill {
         stroke-width: 3;
         stroke-dasharray: 280; /* length of path */
         stroke-dashoffset: 280;
         animation: dash 3s linear infinite;
    }

    @keyframes dash {
        to {
            stroke-dashoffset: 100;
        }
    }
</style>
<noscript>
    <!-- This ensures that user's with javascript turned off aren't incapacitated by our preloader -->
    <style>
        .preloader {
            display: none;
        }

        body:not([data-preloader-displayed=true]) {
            overflow: initial;
        }
    </style>
</noscript>
<div class="preloader">
    <svg aria-hidden="true" style="display:none">
        <symbol id="preloader-knot" viewBox="0 0 100 100">
            <path d="m 32.155932,23.941887 c 0,-15.9217751 19.285111,-23.81904177 30.467958,-12.635488 6.660085,6.715364 5.218757,10.597692 5.218757,45.234689 H 59.360082 V 23.941179 c 0,-12.403488 -18.715364,-12.409001 -18.715364,0 v 5.373423 H 32.162152 Z M 23.92742,67.856123 c -15.9104635,0 -23.7681441,-19.334592 -12.629973,-30.467959 6.57724,-6.571725 10.00674,-5.24081 45.229035,-5.24081 v 8.482565 h -32.59991 c -12.342838,0 -12.392461,18.749295 0,18.749295 h 5.40099 v 8.482564 z m 43.914236,8.228512 c 0,15.844016 -19.213008,23.796419 -30.462302,12.635487 -6.665599,-6.720878 -5.218756,-10.647315 -5.218756,-45.262964 h 8.482564 v 32.62677 c 0,12.364892 18.715365,12.37592 18.715365,0 v -5.40099 h 8.482564 z M 88.700283,62.637367 c -6.627004,6.566212 -10.404431,5.218756 -45.234689,5.218756 v -8.482564 h 32.599909 c 12.397975,0 12.342839,-18.749296 0,-18.749296 h -5.400989 v -8.482564 h 5.400989 c 15.817156,0 23.824697,19.213008 12.635487,30.494819 z"/>
        </symbol>
    </svg>
    <div class="content-wrapper">
        <svg class="knot__svg" width="100pt" height="100pt">
            <use class="knot-progress knot-progress--path" xlink:href="#preloader-knot" />
            <use class="knot-progress knot-progress--fill" xlink:href="#preloader-knot" />
        </svg>
        <h3 class="white-text">Loading...</h3>
    </div>
    {% include vectors/preloader-mask.svg %}
</div>
