<style>
    .preloader {
        z-index: 15;
        position: fixed;
        width: 100%;
    }

    .preloader .content-wrapper {
        width: 100%;
        height: calc(100vh);
        position: relative;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #000;
    }
</style>
<noscript>
    <!-- This ensures that user's with javascript turned off aren't incapacitated by our preloader -->
    <style>
        .preloader {
            display: none;
        }

        body:not([data-preloader-displayed=true]) {
            overflow: initial;
        }
    </style>
</noscript>
<div class="preloader">
    <div class="content-wrapper">
        <h1 class="white-text">Loading...</h1>
    </div>
    {% include vectors/preloader-mask.svg %}
</div>
