<form class="expandable-search  js-expandable-search">
    <label class="sr-only" for="searchInput">Search</label>
    <input class="reset expandable-search__input js-expandable-search__input" type="search" name="searchInput" id="searchInput" placeholder="Search...">
    <button class="reset expandable-search__btn">
        <svg class="icon" viewBox="0 0 24 24"><title>Search</title><g stroke-linecap="square" stroke-linejoin="miter" stroke-width="2" stroke="currentColor" fill="none" stroke-miterlimit="10"><line x1="22" y1="22" x2="15.656" y2="15.656"></line><circle cx="10" cy="10" r="8"></circle></g></svg>
    </button>
</form>
