---
title: About
layout: default
---

<div class="container ns-about">
  <div class="row">
    <div class="column-sm-12 column-md-8">
      <h2 class="block-text">
        <span class="display-heading display-heading--decorated">
          Hey there! 🕳️ &nbsp;<br/><br/>I’m Eyo, a digital artist that's passionate about building performant web experiences at scale.
        </span>
      </h2>
    </div>

    <div class="column-sm-12">
      <div class="photo-block">
        {% cloudinary profile_photo /assets/img/eokoneyo.jpg alt="Portrait of Eyo against a mural that says #liveandcreate" %}
        <span class="footnote_ts">Berlin Photo Week 2019, Photo Credit; <a href="https://github.com/kingsleyadio" target="_blank">Kingsley Adio</a></span>
      </div>
    </div>

    <div class="column-sm-12">
      <div class="container-fluid">
        <div class="row">
          <div class="column-sm-12 column-md-4">
            <h2>
              <span class="display-heading display-heading--decorated">Work Experience</span>
            </h2>
          </div>
          <div class="column-sm-12 column-md-8">
            <div class="about-content">
              <p>
                I've recently become a part of the  <a href="https://www.elastic.co/" target="_blank" data-disable-visual="true">ElasticSearch</a> team, contributing to the Shared UX efforts.
              </p>
              <p>
                Prior to this, my journey led me through roles at <a href="https://shopify.com" target="_blank" data-disable-visual="true">Shopify</a>, where I dedicated my skills to crafting tools and enhancing user experiences, all aimed at improving commerce on a global scale. Before my time at Shopify, I delved into the construction software sector with <a href="https://en.tenera.io/" target="_blank" data-disable-visual="true">Tenera</a>. There, I focused on developing software tailored for tender and project bid management. Additionally, I played a role in shaping tools and systems to boost referrals at <a href="https://hellofresh.de" target="_blank" data-disable-visual="true">HelloFresh</a>. While I'm currently based in Berlin, my origins trace back to Nigeria.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% assign contributions = site.data.contributions %}
    {% if contributions.size > 0 %}
    <section class="column-sm-12">
      <div class="container-fluid">
        <div class="row">
          <div class="column-sm-12 column-md-4">
            <h2>
              <span class="display-heading display-heading--decorated">Open-Source Contributions</span>
            </h2>
          </div>
          <div class="column-sm-12 column-md-8">
            <ul class="no-style-list">
              {% for contribution in contributions limit:4 %}
              <li>
                <a data-disable-visual="true" href="{{contribution.repo-url}}" target="_blank">
                  <h5 class="title">{{contribution.name}}</h5>
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </section>
    {% endif %}
  </div>
</div>
