.container {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;

  & + & {
    margin-top: 10px;
  }
}

[class*='column-'] {
  padding-left: $grid-gutter-size;
  padding-right: $grid-gutter-size;
  width: 100%;
  min-height: 1px;
}

.column {
  flex: 0 0 100%;
  max-width: 100%;
}

@media #{$bp-small} {
  .container {
    max-width: 540px;
  }

  @for $i from 1 through $grid-columns {
    .column-sm-#{$i} {
      flex: 0 0 100% / $grid-columns * $i;
      max-width: 100% / $grid-columns * $i;
    }
  }
}

@media #{$bp-medium} {
  .container {
    max-width: 720px;
  }

  @for $i from 1 through $grid-columns {
    .column-md-#{$i} {
      flex: 0 0 100% / $grid-columns * $i;
      max-width: 100% / $grid-columns * $i;
    }
  }
}

@media #{$bp-large} {
  .container {
    max-width: 960px;
  }

  @for $i from 1 through $grid-columns {
    .column-lg-#{$i} {
      flex: 0 0 100% / $grid-columns * $i;
      max-width: 100% / $grid-columns * $i;
    }
  }
}

@media #{$bp-xlarge} {
  .container {
    max-width: 90%;
  }

  @for $i from 1 through $grid-columns {
    .column-xl-#{$i} {
      flex: 0 0 100% / $grid-columns * $i;
      max-width: 100% / $grid-columns * $i;
    }
  }
}
