// Font-faces
@font-face {
    font-family: 'SpaceMono';
    font-style: normal;
    font-weight: 500;
    src: local('SpaceMono'), url('../fonts/Space_Mono/SpaceMono-Regular.ttf') format('truetype');
}
  
@font-face {
    font-family: 'SpaceMono';
    font-style: italic;
    font-weight: 500;
    src: local('SpaceMono'), url('../fonts/Space_Mono/SpaceMono-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'SpaceMono';
    font-style: normal;
    font-weight: 600;
    src: local('SpaceMono'), url('../fonts/Space_Mono/SpaceMono-Bold.ttf') format('truetype');
}
 
@font-face {
    font-family: 'SpaceMono';
    font-style: italic;
    font-weight: 600;
    src: local('SpaceMono'), url('../fonts/Space_Mono/SpaceMono-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Ovo';
  font-style: normal;
  font-weight: 500;
  src: local('Ovo'), url('../fonts/ovo/Ovo-Regular.ttf') format('truetype');
}

$primary-font: 'Ovo', BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;

// Font weights
$normal-font-weight: 400;
$medium-font-weight: 500;
$bold-font-weight: 600;

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  font-family: $primary-font;
  font-size: 40px;
  font-weight: $medium-font-weight;
  letter-spacing: 1px;
}

p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}

@media #{$bp-medium} {
    p {
      margin: 0 0 35px;
      font-size: 20px;
      line-height: 1.6;
    }
  }
  