
// Colors
$primary: #219AB3;
$dark: #000000;
$light: #ffffff;
$yellow: #f0fc61;

// grid variables
$grid-columns: 12;
$grid-gutter-size: 15px;

// Breakpoints
$bp-small: '(min-width: 576px)';
$bp-medium: '(min-width: 768px)';
$bp-large: '(min-width: 992px)';
$bp-xlarge: '(min-width: 1200px)';
