@import '~sass-mq';
@import '../mixins/parallax';
@import '../mixins/distort-filter-effect';

.ns-landing-screen {
  @include parallax-init();

  .jumbotron {
    @include parallax-child(0);

    @include mq($from: medium) {
      @include parallax-child(-3);
    }

    height: 100vh;

    > .container {
      height: inherit;
    }

    &__inner {
      align-content: center;
      justify-content: center;
      height: 100%;

       > * {
         align-self: center;
       }
    }

    &__title {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        width: mq-px2em(14px);
        height: 1px;
        background: currentColor;
        top: 100%;
        left: 0;
        margin: 1rem 0 0 0;
      }
    }

    &__tagline, &__socials {
      font-family: $secondary-font;
    }

    &__side-photo {
      @include mq($from: medium) {
        order: 2;
      }

      &--inner {
        width: inherit;
        height: 200px;

        @include mq($from: medium) {
          height: 400px;
          width: 600px;
        }

        @include mq($from: large) {
          height: 450px;
        }

        @include mq($from: xlarge) {
          height: 500px;
        }

        > svg {
          height: 100%;

          @include mq($from: medium) {
            width: 100%;
          }
        }
      }

      #horse-rider {
        > g  {
          @include mq($from: large) {
            @include distort-filter-effect($animateInfinitely: true);
          }
        }
      }
    }
  }

  .main-content {
    @include parallax-child(0);
    padding-top: mq-px2em($header-height);
    min-height: 100vh;
    box-shadow: rgba($primary, 0.15) 0 0 100px 0;
    background: $light;
  }

  .social-icon {
    &--link {
      padding: 0 mq-px2em(10px);

      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }

  .article-width {
    margin-bottom: mq-px2em(50px);
  }
}
