@import '~sass-mq';
@import '../mixins/parallax';
@import '../mixins/distort-filter-effect';

.ns-landing-screen {
  @include parallax-init();

  .jumbotron {
    @include parallax-child(0);

    @include mq($from: medium) {
      @include parallax-child(-3);
    }

    height: 100vh;

    > .container {
      height: inherit;
    }

    &__inner {
      align-content: center;
      justify-content: center;
      height: 100%;

       > * {
         align-self: center;
       }
    }

    &__title {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        width: mq-px2em(14px);
        height: 1px;
        background: currentColor;
        top: 100%;
        left: 0;
        margin: 1rem 0 0 0;
      }
    }

    &__side-photo {
      @include mq($from: medium) {
        order: 2;
      }

      &--inner {
        width: inherit;
        height: 200px;

        @include mq($from: medium) {
          height: 400px;
        }

        @include mq($from: large) {
          width: 600px;
          height: 450px;
        }

        @include mq($from: xlarge) {
          height: 500px;
        }

        #illustration {
          height: 100%;

          @include mq($from: medium) {
            width: 100%;
          }

          @include mq($from: large) {
            @include distort-filter-effect($animateInfinitely: true);
          }
        }
      }
    }
  }

  .main-content {
    @include parallax-child(0);
    box-shadow: rgba($primary, 0.15) 0 0 100px 0;
    background: $light;
    display: flex;
    flex-direction: column;

    @include mq($from: large) {
      min-height: 100vh;
    }

    &__inner {
      flex: 1 0 auto;
      margin-top: mq-px2em($header-height);
    }

    .selected-categories {
      margin-bottom: mq-px2em(50px);

      .page-heading--with-action{
        display: flex;
        justify-content: space-between;

        &__action-item {
          @include ms-respond(font-size, 0);
          font-style: italic;
        }
      }

      &:last-of-type {
        margin-bottom: mq-px2em(100px);
      }
    }

    .selected-category {
      &--blog {}

      &--projects {
        position: relative;

        @include mq($until: medium) {
          &__item {
            padding: 0;
          }
        }
        @include mq($from: medium) {
          &__item:first-of-type {
            padding-left: 0;
          }
        }
      }
    }
  }

  .social-icon {
    &--link {
      padding: 0 mq-px2em(10px);

      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }

  .article-width {
    margin-bottom: mq-px2em(50px);
  }
}
