@import '~sass-mq';
@import '../mixins/parallax';

.ns-landing-screen {
  @include parallax-init();

  .jumbotron {
    @include parallax-child(0);

    @include mq($from: medium) {
      @include parallax-child(-3);
    }

    height: 100vh;

    > .container {
      height: inherit;
    }

    &__inner {
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    &__title {
      position: relative;
      padding: 0 0 16px 0;

      &:after {
        content: '';
        position: absolute;
        width: 48px;
        height: 1px;
        background: currentColor;
        top: 100%;
        left: 0;
      }
    }

    &__tagline, &__socials {
      font-family: $secondary-font;
    }

    &__side-photo {
      &--inner {
        width: inherit;
        height: 200px;

        > svg {
          width: 100%;
          height: 100%;
        }
      }
    }

    @include mq($from: medium) {
      &__side-photo {
        order: 2;

        &--inner {
          height: 400px;
          width: 600px;
        }
      }
    }
  }

  .main-content {
    @include parallax-child(0);
    padding-top: mq-px2em($header-height);
    min-height: 100vh;
    box-shadow: rgba($primary, 0.15) 0 0 100px 0;
    background: $light;
  }

  .social-icon {
    &--link {
      padding: 0 10px;

      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }

  .article-width {
    margin-bottom: 50px;
  }
}
