.ns-playlists {
  #Playlists {
    .loader {
      display: flex;
      margin: mq-px2em(20px) 0;
      min-height: mq-px2em(200px);
      flex-direction: column;
      align-items: center;

      &[hidden] {
        display: none;
      }

      .knot__svg {
        .knot-progress {
          stroke: $dark;
        }
      }
    }

    .content {
      opacity: 0;

      .playlist {
        &-wrapper {
          flex-wrap: nowrap;
          overflow: auto;
        }

        &-item {
          margin-bottom: mq-px2em(20px);
          flex-basis: 100%;
          flex-shrink: 0;

          figure {
            margin: 0;
            height: mq-px2em(400px);
            position: relative;
            background: map-get($gray-pallet, light);
          }

          a {
            height: 100%;
            width: inherit;
            display: flex;
            padding: 20px 25px;
            flex-direction: column;
            justify-content: space-between;
          }

          picture,
          img {
            width: 100%;
            height: auto;
          }

          figcaption {
            font-family: $mono-font;
          }

          @include mq($from: medium) {
            flex-basis: 50%;
          }
        }
      }
    }

    &[data-loaded='true'] {
      .loader {
        animation: 500ms linear 0ms forwards fadeOut;
      }

      .content {
        animation: 500ms linear 500ms forwards fadeIn;
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }

      @keyframes fadeOut {
        from {
          opacity: 1;
        }

        to {
          opacity: 0;
        }
      }
    }
  }
}
