@use 'sass:map';
@use 'sass-mq/mq';

@import '../variables';

.ns-posts {
  .post {
    &-list {
      @extend .article-width;
    }

    &-list-item {
      &:not(:first-of-type) {
        margin-top: mq.px2em(50px);
      }

      &:not(:last-of-type) {
        border-bottom: mq.px2em(2px) solid map.get($gray-pallet, light);
      }

      &__publish-date {
        text-transform: uppercase;
        color: map.get($gray-pallet, light);
      }
    }
  }

  .article {
    &-wrapper {
      @extend .article-width;

      & > *:not(.page-heading) {
        text-align: justify;
      }

      ol {
        padding: 0;
        list-style: decimal-leading-zero inside;
      }

      ul {
        padding: 0;
        list-style: disc inside;
      }

      ol,
      ul {
        li:not([role='doc-endnote']) {
          @extend p;
        }
      }
    }

    &__meta {
      display: flex;
      flex-direction: column;

      &__publish-date {
        @extend time;
        order: -1;
        font-size: mq.px2em(5px);
        text-transform: uppercase;
      }
    }
  }
}
