@use '../config/mq';
@use '../variables';
@use '../mixins/decorated_horizontal_divider' as *;

.ns-project-post {
  min-height: calc(100vh - #{mq.px2em(variables.$header-height)});
  display: flex;
  flex-direction: column;

  .project-hero {
    display: flex;
    align-items: center;
    position: relative;

    &__content {
      @extend .container;
      background: var(--page-dominant-color);
      @include decorated_horizontal_divider();
    }

    // make element below hero fill available space
    & + * {
      display: flex;
      flex: 1 0 auto;
      justify-content: space-between;
      flex-direction: column;
      position: relative;
    }

    @include mq.mq($from: tablet) {
      height: mq.px2em(400px);

      &__decoration {
        width: mq.px2em(300px);
        transform: translate(25%, 75%);
      }
    }

    @include mq.mq($from: xxlarge) {
      height: mq.px2em(550px);
    }
  }

  .post-wrapper {
    @extend .article-width;
    padding-top: mq.px2em(50px);

    @include mq.mq($from: tablet) {
      p {
        text-align: justify;
      }
    }
  }
}
