.ns-projects {
  .projects {
    display: flex;
    align-items: center;
    counter-reset: figure;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;

    &__item {
      display: flex;
      justify-content: center;
      margin: 10vh auto;
      min-width: 100%;
      will-change: transform;
      scroll-snap-align: start;

      .project-tile {
        position: relative;

        &:before {
          counter-increment: figure;
          content: counter(figure, decimal-leading-zero);
          position: absolute;
          z-index: +1;
          font-size: 10rem;
          color: $light;
          bottom: calc(100% - 5rem);
          text-shadow:
            -1px -1px 0 $dark,
            1px -1px 0 $dark,
            -1px 1px 0 $dark,
            1px 1px 0 $dark;
          transition: color 0.2s;
          left: 5%;
        }

        .media {
          @include mq($until: medium) {
            display: none;
          }
        }
      }
    }
  }
}
