.ns-projects {

  .projects {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    counter-reset: figure;

    &__item {
      margin: 10vh auto;
      max-width: 100%;
      position: relative;
      will-change: transform;

      &:before {
        counter-increment: figure;
        content: counter(figure, decimal-leading-zero);
        position: absolute;
        font-size: 10rem;
        //color: lighten(map_get($gray-pallet, dark), 70%);
        color: map_get($gray-pallet, dark);
        bottom: calc(100% - 5rem);
        text-shadow: -0.5px -0.5px 0 $light, 0.5px -0.5px 0 $light, -0.5px 0.5px 0 $light, 0.5px 0.5px 0 $light;
        transition: color .2s;
      }

      &:hover:before {
        color: lighten(map_get($gray-pallet, dark), 40%);
      }

      &:nth-child(even)::before {
        right: 0;
      }
    }
  }
}
