@use 'sass:map';
@use '../config/mq';
@use '../variables';

@mixin decorated_horizontal_divider {
  &:before {
    content: '';
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    background: rgba(map.get(variables.$gray-pallet, mid), 0.2);
  }

  &:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: mq.px2em(15px);
    border-top: 1px solid variables.$light;
    border-bottom: 3px solid variables.$light;
    display: block;
    height: 1px;
    margin-top: 3px;
  }
}
