@use 'sass:list';

/**
 * Similar to list functions, `fibonacci()` returns a list, containing fibonacci numbers for a given number N.
 *
 * @example
 * fibonacci(6) => 0 1
*/
@function fibonacci($n) {
  $fib: 0 1;
  @for $i from 1 through $n {
    $new: list.nth($fib, list.length($fib)) +
      list.nth($fib, list.length($fib) - 1);
    $fib: list.append($fib, $new);
  }
  @return $fib;
}
