.ns-header {
    .header {
      display: flex;
      justify-content: space-between;
      height: $header-height;
  
      &__left, &__right {
        height: inherit;
      }
  
      &__left {
        display: flex;
      }

      &__right {
        margin-left: auto;
      }
  
      @at-root {
        .header__left + .header__right {
          margin-left: 0;
        }  
      }

      &__brand-image-wrapper {
        display: block;
        margin: auto;
      }
    }
  
    .menu-list {
      display: inline-flex;
      margin: 0;
      height: 100%;
      &-items {
        list-style: none;
        padding: 15px;
        margin: auto;
        font-size: 15px;
        font-weight: $bold-font-weight;
        text-transform: capitalize;

        &.active {
          color: darken($color: $blue, $amount: 50%);
        }
      }
    }
}
