---
layout: default
---

<div class="container ns-about">
    <div class="row">
        <div class="column-sm-12">
            <div class="photo-block">
                {% cloudinary profile_photo /assets/img/eokoneyo_about_photo.jpg alt="Portrait of Eyo against a wall" %}
                <span class="footnote_ts">Berlin Photo Week 2019, Photo Credit; <a href="https://github.com/kingsleyadio" target="_blank">Kingsley Adio</a></span>
            </div>
        </div>
        <div class="column-sm-12">
            <div class="about-content">
                <h5>{{site.data.setup.description}}</h5>
                <h5>I'm always in constant pursuit of <a href="https://www.investopedia.com/terms/k/kaizen.asp#:~:text=Kaizen%20is%20a%20Japanese%20term,a%20gradual%20and%20methodical%20process." target="_blank" rel="noopener"><em>Kaizen(改善)</em></a> particularly when it comes to things that pique my interest.</h5>
            </div>
        </div>
    </div>
</div>
