---
layout: default
---

<div class="container">
    <div class="ns-posts">
        <h1 class="page-heading">
            <span class="display-heading display-heading--decorated">{{page.title}}</span>
            <span class="display-heading__subtitle">{{page.subtitle}}</span>
        </h1>
        {% assign blog_posts = paginator.posts %}
        <ul class="no-style-list post-list">
            {% for post in blog_posts %}
            <li class="post-list-item">
                <a href="{{post.url}}">
                    <h3 class="page-heading">
                        <span class="display-heading__subtitle post-list-item__publish-date">{{ post.date | date: "%d.%m.%Y"  }}</span>
                        <span class="display-heading">{{ post.title }}</span>
                    </h3>
                </a>
                <p>{{ post.excerpt | truncate: 200 }}</p>
            </li>
            {% endfor %}
        </ul>

        {% include paginator.html %}
    </div>
</div>
