---
layout: default
---

<div class="container">
    <div class="ns-posts">
        <h1 class="page-heading"><span class="display-heading">{{page.title}}</span></h1>

        {% assign blog_posts = paginator.posts %}
        <ul class="no-style-list">
            {% for post in blog_posts %}
            <li class="post-list-item">
                <div class="post-list-item__meta">
                    <span class="post-list-item__meta__publish-date">{{ post.date | date: "%b %-d, %Y" }}</span>
                </div>
                <div class="post-content">
                    <a class="blog-post-title" href="{{ post.url }}">
                        <h3>{{ post.title }}</h3>
                    </a>
                    <p>{{ post.excerpt | truncate: 200 }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
