---
layout: default
---

<div class="container ns-posts">
    <div class="row">
        <div class="column-sm-12">
            <article class="article">
                <h2 class="page-heading article__meta">
                    <span class="display-heading article__meta__title">{{page.title}}</span>
                    <span class="article__meta__publish-date">{{ page.date | date: "%b %-d, %Y" }}</span>
                </h2>
                {{content}}
            </article>
        </div>
    </div>
</div>
