---
layout: default
---

<div class="container ns-posts" itemscope itemtype="https://schema.org/Article">
    <div class="row">
        <div class="column-sm-12">
            <article class="article-wrapper">
                <h2 class="page-heading article__meta">
                    <span class="display-heading article__meta__title" itemprop="name">{{page.title}}</span>
                    <span class="article__meta__publish-date" itemprop="datePublished">{{ page.date | date: "%d.%m.%Y" }}</span>
                </h2>
                {{content}}
              {% if page.commentsAllowed == true %}
              <script src="https://utteranc.es/client.js"
                repo="eokoneyo/eokoneyo.github.io"
                issue-term="pathname"
                theme="github-light"
                crossorigin="anonymous" async>
              </script>
              {% endif %}
            </article>
        </div>
    </div>
</div>
