---
layout: default
---

<div class="container ns-projects">
    <div class="project-post article">
        <h1 class="page-heading article__meta">
            <span class="display-heading article__meta__title">{{page.title}}</span>
            <span class="article__meta__publish-date">{{ page.date | date: "%b %-d, %Y" }}</span>
        </h1>
        {{content}}

        {% unless page.category == null %}
            {% assign pageCategory = page.category %}
            {% assign pageCategoryPosts = site.categories[pageCategory] %}
            {% unless pageCategoryPosts.size == 1 %}
                <div class="more-projects">
                    <h4 class="page-heading"><span class="display-heading">See More</span></h4>
                    <ul>
                        {% for post in pageCategoryPosts %}
                        {% unless post.title == page.title %}
                        <li>
                            <a href="{{post.url}}">{{post.title}}</a>
                        </li>
                        {% endunless %}
                        {% endfor %}
                    </ul>
                </div>
            {% endunless %}
        {% endunless %}
    </div>
</div>
