:root {
  font-size: 62.5%;

  body {
    margin: 0;

    // Body font size 16px
    font-size: 1.6rem;

    &, * {
      &::selection {
        text-shadow: none;
        background: $yellow;
      }
    }
  }
}

body, * {
  box-sizing: border-box;

  &:not(code, pre) {
    color: map_get($gray-pallet, dark);
  }
}

a {
  color: $primary;
  text-decoration: none;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;

  &:hover, &:focus {
    color: darken($primary,20%);
  }

  &[target="_blank"] {
    position: relative;
    display: inline-block;

    &:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      top: 0;
      right: 0;
      border-style: solid;
      border-width: 0 8px 8px 0;
      border-color: transparent $primary transparent transparent;
    }

    &:hover:after {
      border-color: transparent darken($primary,20%) transparent transparent;
    }
  }

  &, &[target="_blank"] {
    > * {
      color: currentColor;
    }
  }

  &.view-more-link {
    display: inline-block;

    &:after {
      content: '\002192';
      padding-left: 5px;
    }
  }
}

img::selection, img::-moz-selection {
  background: transparent;
}

ul , ol {
  &.no-style-list{
    list-style: none;
    padding: 0;
  }
}

.article-width {
  max-width: 768px;
}

.article {
  @extend .article-width;
  margin: 0 auto;
}

.page-heading {
  margin-top: mq-px2em(30px);
  margin-bottom: mq-px2em(30px);
}

.display-heading {
  color: map_get($gray-pallet, dark);
  background-repeat: no-repeat;
  background-image: linear-gradient(transparent 55%, rgba(map_get($gray-pallet, mid), 0.2) 45%);
  background-size: 100% 100%;
}

.no-scroll {
  overflow: hidden;
}

.white-text {
  color: $light;
}
