@use 'sass:math';
@import '~sass-mq';

$medium-grid-max-width: 95%;
$large-grid-max-width: 960px;
$xlarge-grid-max-width: 1144px;

.container {
  &,
  &-fluid {
    margin: 0 auto;
    position: relative;
    width: 100%;
  }

  & {
    padding-left: mq-px2em($grid-gutter-size);
    padding-right: mq-px2em($grid-gutter-size);
  }

  @include mq($from: medium) {
    max-width: $medium-grid-max-width;
  }

  @include mq($from: large) {
    max-width: mq-px2em($large-grid-max-width);
  }

  @include mq($from: xlarge) {
    max-width: mq-px2em($xlarge-grid-max-width);
  }
}

.row {
  display: flex;
  flex-wrap: wrap;

  .container > & {
    margin: 0 -#{mq-px2em($grid-gutter-size)};
  }

  .container-fluid > & {
    margin: 0 -#{mq-px2em($grid-gutter-size)};
  }

  & + & {
    margin-top: mq-px2em(10px);
  }

  .offset {
    @include mq($from: small) {
      @for $i from 1 through $grid-columns {
        &-sm-#{$i} {
          margin-left: math.div(100%, $grid-columns) * $i;
        }
      }
    }

    @include mq($from: medium) {
      @for $i from 1 through $grid-columns {
        &-md-#{$i} {
          margin-left: math.div(100%, $grid-columns) * $i;
        }
      }
    }

    @include mq($from: large) {
      @for $i from 1 through $grid-columns {
        &-lg-#{$i} {
          margin-left: math.div(100%, $grid-columns) * $i;
        }
      }
    }

    @include mq($from: xlarge) {
      @for $i from 1 through $grid-columns {
        &-xl-#{$i} {
          margin-left: math.div(100%, $grid-columns) * $i;
        }
      }
    }
  }
}

.column {
  flex: 0 0 100%;
  max-width: 100%;

  @at-root [class*='column-'] {
    padding-left: mq-px2em($grid-gutter-size);
    padding-right: mq-px2em($grid-gutter-size);
    width: 100%;
    min-height: 1px;
  }

  @include mq($from: small) {
    @for $i from 1 through $grid-columns {
      &-sm-#{$i} {
        flex: 0 0 math.div(100%, $grid-columns) * $i;
        max-width: math.div(100%, $grid-columns) * $i;
      }
    }
  }

  @include mq($from: medium) {
    @for $i from 1 through $grid-columns {
      &-md-#{$i} {
        flex: 0 0 math.div(100%, $grid-columns) * $i;
        max-width: math.div(100%, $grid-columns) * $i;
      }
    }
  }

  @include mq($from: large) {
    @for $i from 1 through $grid-columns {
      &-lg-#{$i} {
        flex: 0 0 math.div(100%, $grid-columns) * $i;
        max-width: math.div(100%, $grid-columns) * $i;
      }
    }
  }

  @include mq($from: xlarge) {
    @for $i from 1 through $grid-columns {
      &-xl-#{$i} {
        flex: 0 0 math.div(100%, $grid-columns) * $i;
        max-width: math.div(100%, $grid-columns) * $i;
      }
    }
  }
}
