@use 'sass:map';
@use 'sass:math';
@use 'sass:color';
@use '../variables';
@use '../config/mq';

.grid-bg-fx {
  z-index: -1;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &__container {
    @extend .container;
  }

  &__container-fluid {
    @extend .container-fluid;
  }

  &__container,
  &__container-fluid {
    height: inherit;
  }
}

.grid-bg-fx__grid {
  @extend .row;
  height: 100%;
  justify-content: space-evenly;

  @for $i from 1 through variables.$grid-columns {
    .column-#{$i} {
      flex-basis: calc(
        #{math.div(100%, variables.$grid-columns) *
          $i} -
          #{variables.$grid-gutter-size *
          2}
      );
      max-width: calc(
        #{math.div(100%, variables.$grid-columns) *
          $i} -
          #{variables.$grid-gutter-size *
          2}
      );

      &:not(:first-of-type) {
        margin-left: variables.$grid-gutter-size;
      }
    }
  }

  @include mq.mq($until: tablet) {
    .hide-md-down {
      display: none;
    }
  }

  > * {
    color: color.adjust(map.get(variables.$gray-pallet, tint), $lightness: 60%);
    position: relative;
    margin-bottom: 0 !important;
  }

  > *::before,
  *::after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: currentColor;
  }

  > *::before {
    left: -1px;
  }

  > *::after {
    right: 0;
  }
}
