@use 'sass:map';
@use '@fontsource-utils/scss' as fontsource;
@use '@fontsource/ovo/scss' as Ovo;
@use '@fontsource/dm-mono/scss' as DMMono;
@use '../variables';
@use '../config/mq';
@use '../config/modularscale';

@import '../utils/fibonacci';

// Font weights
$normal-font-weight: 400;
$medium-font-weight: 500;
$bold-font-weight: 600;

/* Base Vertical Spacing */
$space: 1.6;

/* Vertical Spacing - multiplier */
$vspace: calc(#{$space} * 1rem);
$vspace-0: calc(#{3 * $space} * 1rem);
$vspace-1: calc(#{2 * $space} * 1rem);
$vspace-2: calc(#{1.5 * $space} * 1rem);
$vspace-3: calc(#{0.5 * $space} * 1rem);

// Font-faces
@include fontsource.faces(
  $metadata: Ovo.$metadata,
  $subsets: latin,
  $weights: $normal-font-weight
);

@include fontsource.faces(
  $metadata: DMMono.$metadata,
  $subsets: latin,
  $weights: $normal-font-weight
);

$dm-mono: 'DM Mono';
$mono-font: $dm-mono, monospace, sans-serif, serif;
$primary-font: 'Ovo', Georgia, 'Times New Roman', Times, serif;
$secondary-font: $primary-font;

$headings: 6;

// used to create typographic scale for our headings, see https://www.layoutgridcalculator.com/typographic-scale/
$typographicScale: fibonacci($headings);

html {
  font-size: 100%;
}

body {
  font-family: $primary-font;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: baseline;
}

@for $i from 1 through $headings {
  h#{$i} {
    @include modularscale.respond(
      font-size,
      nth($typographicScale, length($typographicScale) - $i)
    );

    & {
      font-family: $secondary-font;
      font-weight: $medium-font-weight;
      letter-spacing: mq.px2em(1px);
    }
  }
}

body,
p {
  @include modularscale.respond(font-size, 0);
}

h1 {
  margin: $vspace-1 0 $vspace-1 0;
  line-height: 1em;
}

h2 {
  margin: $vspace-2 0 $vspace-3 0;
  line-height: 1em;
}

h3 {
  margin: $vspace-1 0 $vspace-3 0;
  line-height: 1em;
}

h4,
h5,
h6 {
  margin: $vspace-2 0 $vspace-3 0;
  line-height: $vspace;
}

h6 {
  font-style: italic;
}

p {
  margin: 0 0 25px;
  line-height: $vspace;
}

blockquote {
  @include modularscale.respond(font-size, 1);
  font-style: italic;
}

time,
[datetime] {
  color: map.get(variables.$gray-pallet, light);
  font-family: $mono-font;
}

.caption_ts {
  @include modularscale.respond(font-size, -1);
  font-style: italic;
}

.endnote_ts {
  @include modularscale.respond(font-size, -1);
}

.footnote_ts {
  @include modularscale.respond(font-size, -2);
}

.footnote_ts,
.caption_ts,
.endnote_ts {
  font-family: $mono-font;
}
