@import '~modularscale-sass';
@import '~sass-mq';

// Font-faces
@font-face {
  font-family: 'Ovo';
  font-style: normal;
  font-weight: 500;
  src: local('Ovo'), url('../_fonts/ovo/Ovo-Regular.ttf') format('truetype');
  font-display: swap;
}

$primary-font: 'Ovo', Georgia,"Times New Roman",Times,serif;
$secondary-font: $primary-font;

// Font weights
$normal-font-weight: 400;
$medium-font-weight: 500;
$bold-font-weight: 600;

// set type scale here
$modularscale: (
  base: 1em,
  ratio: 1.3,
);

$headings: 6;
$modularScaleToCountDownFrom: 6;

body {
  font-family: $primary-font;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  font-family: $secondary-font;
  font-weight: $medium-font-weight;
  letter-spacing: 1px;
}

@for $i from 1 through $headings {
  h#{$i} {
    font-size: ms($modularScaleToCountDownFrom - $i);
  }
}

p {
  margin: 0 0 25px;
  font-size: ms(0);
  line-height: 1.5;

  @include mq($from: medium) {
    margin: 0 0 35px;
    font-size: ms(1);
    line-height: 1.6;
  }
}
