div[class|='language'] {
  margin: 0;

  pre {
    display: block;
    overflow-y: scroll;
    padding: mq-px2em(20px);
    font-family: $mono-font;
  }

  @include mq($from: large) {
    margin-right: calc(50% - 50vw);
    max-width: mq-px2em($large-grid-max-width - ($grid-gutter-size * 2));
  }

  @include mq($from: xlarge) {
    max-width: mq-px2em($xlarge-grid-max-width - ($grid-gutter-size * 2));
  }
}
