@use 'sass-mq/mq';

@import '../variables';

div[class|='language'] {
  margin: 0;

  pre {
    padding: mq.px2em(20px) 0;

    code {
      display: block;
      overflow: auto visible;
      font-family: $mono-font;

      .line {
        line-height: 1.5;
      }

      .diff {
        &.add {
          &::before {
            content: '+';
            color: green;
            position: absolute;
            left: 0;
          }
        }

        &.remove {
          &::before {
            content: '-';
            color: red;
            position: absolute;
            left: 0;
          }
        }
      }
    }
  }

  .twoslash {
    &-hover {
      position: unset;
    }

    &-popup {
      &-container {
        display: flex;
        max-width: 90%;

        > * {
          text-wrap-mode: wrap;
          flex-grow: 1;
        }
      }
    }
  }

  @include mq.mq($from: desktop) {
    margin-right: calc(50% - 50vw);
    max-width: mq.px2em($large-grid-max-width - ($grid-gutter-size * 2));
  }

  @include mq.mq($from: wide) {
    max-width: mq.px2em($xlarge-grid-max-width - ($grid-gutter-size * 2));
  }
}
