.ns-footer {

  &:before {
    content: '';
    border-bottom: 1px solid map_get($gray-pallet, light);
    border-top: 3px solid map_get($gray-pallet, light);
    display: block;
    height: 1px;
    margin-top: 0;
  }

  &--short {
    @extend .container;
  }

  .footer-socials {
    @extend .no-style-list;
    margin: $vspace-3 0;
    line-height: $vspace;

    .social-icon {
      &--link {
        padding: 0 0 mq-px2em(10px) 0;

        &:hover, &:focus {
          text-decoration: underline;
        }

        a {
          padding: 0 8px 0 0;
        }

        @include mq($from: large) {
          padding: 0 mq-px2em(10px) 0 0;
          display: inline-block;
          margin: 0 10px 0 0;
        }
      }
    }
  }

  .blog-footer {
    padding: mq-px2em(20px) 0;
    //border-top: 1px solid lighten(map_get($gray-pallet, light), 40%);

    .dev-details {
      > * {
        margin: 0
      }
    }
  }

  .page-scroll {
    display: block;

    &:after {
      content: '\00005E';
      padding: mq-px2em(5px);
      font-size: inherit;
    }

    @include mq($from: large) {
      text-align: right;
    }
  }
}
