.ns-header {
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
  top: 0;
  z-index: $zindex-header;
  opacity: 1;
  transition: opacity .2s;
  background: rgba($light, 90%);
  box-shadow: $shadow-xs;
  transform: translateZ(0);

  &--hidden {
    opacity: 0;
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    height: $header-height;

    &__left, &__right {
      height: inherit;
    }

    &__right {
      margin-left: auto;
    }

    &__brand {
      &-wrapper {
        display: block;
        height: 100%;
        padding: 10px;
      }

      &-image, &-text {
        height: inherit;
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }

      &-image{
        color: $light;
        width: 60px;
      }

      &-text {
        color: $primary;
      }
    }
  }

  .menu-list {
    display: inline-flex;
    margin: 0;
    height: 100%;

    &-item {
      list-style: none;
      padding: 15px;
      margin: auto 5px;
      font-size: 15px;
      font-weight: $bold-font-weight;
      text-transform: capitalize;

      &:focus, &:hover, &.active {
        color: map_get($gray-pallet, dark);
      }
    }
  }
}
