@use 'sass:map';
@use 'sass-mq/mq';

@import '../variables';

.pagination {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid map.get($gray-pallet, mid);

  &--next {
    margin-left: auto;
    .display-heading:after {
      content: '\002192';
      display: inline-block;
      margin-left: mq.px2em(5px);
    }
  }

  &--prev {
    .display-heading:before {
      content: '\002190';
      display: inline-block;
      margin-right: mq.px2em(5px);
    }
  }
}
