@use '../config/mq';
@use '../variables';
@use '../mixins/decorated_horizontal_divider' as *;

.project-tile {
  position: relative;
  margin-bottom: 20px;
  height: mq.px2em(300px);
  width: 100%;

  @at-root .projects__item:nth-of-type(odd) {
    .media {
      text-align: right;
    }
  }

  figure {
    margin: 0;
    height: 100%;
    display: flex;
    padding: mq.px2em(30px);
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    filter: contrast(7);

    @include decorated_horizontal_divider();

    .media {
      svg {
        height: mq.px2em(50px);
        width: mq.px2em(50px);
      }
    }
  }

  figcaption {
    position: relative;

    > * {
      color: variables.$dark;
    }

    .title {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        width: mq.px2em(14px);
        height: 1px;
        background: currentColor;
        top: 100%;
        left: 0;
        margin: 1rem 0 0 0;
      }
    }
  }

  @include mq.mq($from: tablet) {
    margin-bottom: 0;
  }

  @include mq.mq($from: desktop) {
    min-height: mq.px2em(400px);

    &:not(.project-tile--fixed-width) {
      min-width: mq.px2em(400px);
      max-width: mq.px2em(700px);
    }

    figure {
      .media {
        img {
          padding-right: mq.px2em(20px);
        }
      }
    }

    figcaption {
      height: mq.px2em(200px);
    }
  }

  @include mq.mq($from: wide) {
    min-height: mq.px2em(500px);
  }
}
